@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;700');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	margin: 0;
	height: 100%;

	font-family: 'Ibarra Real Nova', serif;
	font-size: 32px;
	font-weight: 700;

	background: repeating-linear-gradient(45deg, #ffffff, #ffffff 18px, #000000 2px, #000000 20px);
}

.box {
	display: flex;
	flex-flow: column;
	height: 100%;
}

.box .row.header {
	flex: 0 1 auto;
	/* The above is shorthand for:
    flex-grow: 0,
    flex-shrink: 1,
    flex-basis: auto
    */
}

.box .row.content {
	flex: 1 1 auto;
}

/* styles mainly for articles */

h1 {
	font-size: 32px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-decoration: overline;
}

h2 {
	font-size: 24px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-decoration: underline;
}

p {
	padding-left: 10px;
	font-weight: 400;
}

strong {
	font-weight: 700;
	font-size: 20px;
}

a {
	padding-left: 10px;
}

a:hover {
	color: #23d3ee;
}

ul {
	padding-left: 10px;
	font-weight: 400;
}

blockquote {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-left: 5px solid black;
}

code {
	background-color: #282c34;
	color: white;
	border-radius: 4px;
	font-family: monospace;
	padding: 6px;
	overflow: auto;
}
